<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
                background-color: #faedcd;
        }
        h1{
            text-align: center;
            margin-top: 30px;
            color: seagreen;
        
        }
    </style>
</head>
<body>
    <h1> This page is not exist</h1>
</body>
</html>